* {
  margin: 0;
  padding: 0;
  font-size: 10px;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.box {
  background: rgba(0, 0, 0, 0.9);
  width: 100%;
}
.box .header {
  height: 300px;
  margin: 0 40px;
}
.box .header .our .our-text {
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.box .header .our .our-text p {
  color: white;
  font-size: 18px;
}
.box .header .our .our-text span {
  color: gray;
}
.box .header .our .our-title {
  font-size: 32px;
  color: white;
  text-align: center;
}
.box .header .time {
  display: flex;
  color: #797979;
  justify-content: space-between;
}
.box .header .time div {
  font-size: 16px;
}
.box .owl-theme .owl-controls .owl-page:hover span {
  background-color: gray;
}
.box .owl-theme .owl-controls .owl-page.active span {
  background-color: white;
}
.box .echo {
  margin: 0 15px;
}
.box .echo .owl-item {
  width: 300px !important;
  height: 552px;
  margin-right: 15px;
  position: relative;
  overflow: hidden;
}
.box .echo .owl-item img {
  width: 300px;
  display: block;
  height: 400px;
}
.box .echo .owl-item .pic {
  height: 400px;
  width: 300px;
}
.box .echo .owl-item #dingjingwen {
  background: url("../img/Echo/dingjingwen2.jpg") no-repeat;
  background-size: cover;
  top: 0;
  position: absolute;
}
.box .echo .owl-item .we .dingjingwen {
  background: url("../img/Echo/dingjiwen.jpg") no-repeat;
  background-size: cover;
  top: 100%;
  width: 100%;
  height: 400px;
  position: absolute;
  transition: all 0.5s;
}
.box .echo .owl-item .we:hover .dingjingwen {
  background: url("../img/Echo/dingjiwen.jpg") no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  transition: all 0.5s;
}
.box .echo .owl-item #liting {
  background: url("../img/Echo/liting.png") no-repeat;
  background-size: cover;
}
.box .echo .owl-item #tanling {
  background: url("../img/Echo/tanling.jpg") no-repeat;
  background-size: cover;
  top: 0;
  position: absolute;
}
.box .echo .owl-item .we .tanling {
  background: url("../img/Echo/tanling2.jpg") no-repeat;
  background-size: cover;
  width: 100%;
  height: 400px;
  position: absolute;
  top: 100%;
  transition: all 0.5s;
}
.box .echo .owl-item .we:hover .tanling {
  background: url("../img/Echo/tanling2.jpg") no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  transition: all 0.5s;
}
.box .echo .owl-item #gumeng {
  background: url("../img/Echo/gumeng2.jpg") no-repeat;
  background-size: cover;
  top: 0;
  position: absolute;
}
.box .echo .owl-item .we .gumeng {
  background: url("../img/Echo/gumeng2.jpg") no-repeat;
  background-size: cover;
  width: 100%;
  height: 400px;
  position: absolute;
  top: 100%;
  transition: all 0.5s;
}
.box .echo .owl-item .we:hover .gumeng {
  background: url("../img/Echo/gumeng3.jpg") no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  transition: all 0.5s;
}
.box .echo .owl-item #mochunhua {
  background: url("../img/Echo/mochunhua.jpg") no-repeat;
  background-size: cover;
}
.box .echo .owl-item #wanyao {
  background: url("../img/Echo/wanyao.jpg") no-repeat;
  background-size: cover;
  top: 0;
  position: absolute;
}
.box .echo .owl-item .we .wanyao {
  background: url("../img/Echo/wanyao2.jpg") no-repeat;
  background-size: cover;
  width: 100%;
  height: 400px;
  position: absolute;
  top: 100%;
  transition: all 0.5s;
}
.box .echo .owl-item .we:hover .wanyao {
  background: url("../img/Echo/wanyao2.jpg") no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  transition: all 0.5s;
}
.box .echo .owl-item #qimengling {
  background: url("../img/Echo/img_1.png") no-repeat;
  background-size: cover;
}
.box .echo .owl-item #human {
  background: url("../img/Echo/human'.jpg") no-repeat;
  background-size: cover;
}
.box .echo .owl-item #wangxiaojing {
  background: url("../img/Echo/wangxiaojing.jpg") no-repeat;
  background-size: cover;
}
.box .echo .owl-item #keyuchen {
  background: url("../img/Echo/keyuchen.jpg") no-repeat;
  background-size: cover;
  top: 0;
  position: absolute;
}
.box .echo .owl-item .we .keyuchen {
  background: url("../img/Echo/keyuchen4.jpg") no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 400px;
  position: absolute;
  top: 100%;
  transition: all 0.5s;
}
.box .echo .owl-item .we:hover .keyuchen {
  background: url("../img/Echo/keyuchen4.jpg") no-repeat center center;
  background-size: cover;
  position: absolute;
  top: 0;
  transition: all 0.5s;
}
.box .echo .owl-item #liyangyang {
  background: url("../img/Echo/liyangyang.jpg") no-repeat center center;
  background-size: cover;
  top: 0;
  position: absolute;
}
.box .echo .owl-item .we .liyangyang {
  background: url("../img/Echo/liyangyang2.jpg") no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 400px;
  position: absolute;
  top: 100%;
  transition: all 0.5s;
}
.box .echo .owl-item .we:hover .liyangyang {
  background: url("../img/Echo/liyangyang2.jpg") no-repeat center center;
  background-size: cover;
  position: absolute;
  top: 0;
  transition: all 0.5s;
}
.box .echo .owl-item #lijia {
  background: url("../img/Echo/lijia2.jpg") no-repeat;
  background-size: cover;
  top: 0;
  position: absolute;
}
.box .echo .owl-item .we .lijia {
  background: url("../img/Echo/lijia.jpg") no-repeat;
  background-size: cover;
  width: 100%;
  height: 400px;
  position: absolute;
  top: 100%;
  transition: all 0.5s;
}
.box .echo .owl-item .we:hover .lijia {
  background: url("../img/Echo/lijia.jpg") no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  transition: all 0.5s;
}
.box .echo .owl-item #liuye {
  background: url("../img/Echo/liuye.jpg") no-repeat;
  background-size: cover;
  top: 0;
  position: absolute;
}
.box .echo .owl-item .we .liuye {
  background: url("../img/Echo/liuye3.jpg") no-repeat;
  background-size: cover;
  width: 100%;
  height: 400px;
  position: absolute;
  top: 100%;
  transition: all 0.5s;
}
.box .echo .owl-item .we:hover .liuye {
  background: url("../img/Echo/liuye3.jpg") no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  transition: all 0.5s;
}
.box .echo .owl-item #hongdou {
  background: url("../img/Echo/hongdou.jpg") no-repeat;
  background-size: cover;
  top: 0;
  transition: all 0.5s;
}
.box .echo .owl-item .we .hongdou {
  background: url("../img/Echo/hongdou2.jpg") no-repeat;
  background-size: cover;
  width: 100%;
  height: 400px;
  position: absolute;
  top: 100%;
  transition: all 0.5s;
}
.box .echo .owl-item .we:hover .hongdou {
  background: url("../img/Echo/hongdou2.jpg") no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  transition: all 0.5s;
}
.box .echo .owl-item #ruanmeijuan {
  background: url("../img/Echo/ruanmeijuan2.jpg") no-repeat;
  background-size: cover;
  top: 0;
  position: absolute;
}
.box .echo .owl-item .we .ruanmeijuan {
  background: url("../img/Echo/RMJ.jpg") no-repeat;
  background-size: cover;
  width: 100%;
  height: 400px;
  position: absolute;
  top: 100%;
  transition: all 0.5s;
}
.box .echo .owl-item .we:hover .ruanmeijuan {
  background: url("../img/Echo/RMJ.jpg") no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  transition: all 0.5s;
}
.box .echo .owl-item #dujialing {
  background: url("../img/Echo/7db60c44cad6bb3960af4ecbfed62c6.jpg") no-repeat;
  background-size: cover;
  top: 0;
  position: absolute;
}
.box .echo .owl-item .we .dujialing {
  background: url("../img/Echo/dujialing3.jpg") no-repeat;
  background-size: cover;
  width: 100%;
  height: 400px;
  position: absolute;
  top: 100%;
  transition: all 0.5s;
}
.box .echo .owl-item .we:hover .dujialing {
  background: url("../img/Echo/dujialing3.jpg") no-repeat center center;
  background-size: cover;
  position: absolute;
  top: 0;
  transition: all 0.5s;
}
.box .echo .owl-item .we {
  height: 400px;
}
.box .echo .owl-item .we .they {
  background: white;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.box .echo .owl-item .we .they div {
  margin: 0 20px;
}
.box .echo .owl-item .we .they .she {
  font-size: 16px;
  font-weight: bold;
  padding-top: 30px;
  padding-bottom: 5px;
  color: #545454;
}
.box .echo .owl-item .we .they .birthday {
  color: gray;
}
.box .echo .owl-item .we .they .meet {
  font-size: 16px;
  padding: 30px 0;
}
.box .echo .about-me {
  padding: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box .echo .about-me a {
  font-size: 16px;
  color: #aeaeae;
  border: 1px solid #aeaeae;
  padding: 5px 12px;
  border-radius: 5px;
}
.box .echo .about-me a:hover {
  color: gray;
  border: 1px solid gray;
}
.box .footer {
  background: white;
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
  align-items: center;
  height: 150px;
}
.box .footer .mean {
  display: flex;
  flex-direction: column;
}
.box .footer .mean p {
  font-size: 24px;
}
.box .footer .mean .text {
  font-size: 14px;
}
.box .footer .now-time {
  display: flex;
}
.box .footer .now-time div {
  margin-left: 5px;
  font-size: 16px;
}

/*# sourceMappingURL=style.css.map */
